body{
    background-image: url('../images/dark-honeycomb.png')
}
p{
    margin-bottom: 0px;
}
.card-body{
    padding-bottom:0px;
}
.card{
    background-color: rgba(0, 238, 255, 0.605);
    padding:10px;
    margin: 20px 0px 20px 0px;
}
#btnDiv{
    align-content: left;
}
.btn-info{
    margin: 0px 10px 10px 0px;
}
.jumbotron{
    background-color: rgba(251, 251, 251,0.4);
}
